body {
	margin: 0;
}

indoorviewer {
	height: 100vh;
}

.container {
	padding-top: 15px;
	font-size: 18px;
	font-style: italic;

	img {
		margin-bottom: 25px;
	}
}

.unformatted {
	padding: 15px;
}

.paperclip {
	padding: 20px;
}