indoorviewer {
	height: 100vh;
}

/*#myPOIViewer {
	position: absolute;
	top: 460px;
	left: 500px;
	width: 350px;
	z-index: 1000;
	display: none;
	background-color: #ee0;
}*/

html, body {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    /* background-color: #25b7d3; */


    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

.modalContainer {
    z-index: 999;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
        .backDrop {
        z-index: 9999;

        display: none;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        position: fixed;

        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal {
        z-index: 99999;

        display: none;
        flex-direction: column;

        margin: auto;

        height: 640px;
        width: 360px;

        overflow: hidden;
        background-color: white;

        border-radius: 3px;
        box-shadow: 0 0 21px -10px rgba(0,0,0,0.75);

        .modalHeader {
            flex: 0 1;

            padding: 1rem 0 1rem 0;

            display: flex;
            flex-direction: column;
            align-items: center;

            .modalTitle {
                margin: 0 0 0 0;
                padding: 0 0 0 0;


                color: #353535;
            }
            .modalSubTitle {
                margin: 0 0 0.5rem 0;
                padding: 0;

                color: #353535;
            }
            .divider {
                margin: 0;
                padding: 0;

                height: 2px;
                width: calc(100% - 6rem);

                border-bottom: 1px solid rgb(187, 214, 219);
                border-radius: 50%;

                background-color: rgb(181, 230, 240);
            }
        }
        .modalContent {
            flex: 1 0;

            display: flex;
            flex-direction: column;
            align-items: center;

            padding: 0 3rem 0 3rem;

            width: 100%;

            .modalContentItem {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-content: center;

                width: 100%;

                margin: 0;
                padding: 0;
            }
            .accordion {
                padding: 1rem 0 1rem 0;

                .accordionTitle {
                    margin: 0;
                    padding: 0;

                    font-family: 'Nunito', sans-serif;
                    font-size: 2rem;

                    color: #353535;
                }
                .accordionOpener {
                    margin: 0;
                    padding: 0;

                    color: #353535;

                    transform: translateY(0.5rem);
                }
            }
        }

        .btn {
            display: flex;

            justify-content: center;

            width: 100%;

            margin: 1rem 0 0 0;
            padding: 0.75rem 0 0.75rem 0;


            border-radius: 10px;
        }
        .btnBlue {
            background-color: #25b7d3;
            color: white;
        }
        .btnRed {
            background-color: #ee403f;
            color: white;

            margin-right: 1rem;


        }
        .btnGreen {
            background-color: #19d15c;
            color: white;
        }
        .btnTitle {
            margin: 0;
            padding: 0;

            font-family: 'Nunito', sans-serif;
            font-size: 3rem;
            font-weight: 300;

            transform: translateY(0.2rem);

        }

        .modalFooter {
            flex: 0 1;

            display: flex;
            flex-direction: row;

            margin: 0;
            padding: 0 3rem 3rem 3rem;


        }
    }

}